.header {
  background-color: #326792;
  position: relative;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 53px; }

.form-control {
  width: 110px;
  height: 100%;
  background-color: #326792;
  color: #fff; }

.pos-absolute {
  position: absolute; }

.header-div {
  right: 10px;
  top: 10px;
  color: #fff; }

.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: transparent; }
  .btn-default:hover {
    background-color: transparent;
    color: #fff;
    border-color: transparent; }

.img-responsive {
  width: 100%;
  height: 100%; }

.back-wrapper {
  height: 300px; }
